<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()">
        <img class="img-fluid" src="" alt="">
      </button>
      <div class="logo-text" @fadeInOut *ngIf="collapsed">ciao <br> {{username}}</div>
      <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
          <i class="fal fa-times close-icon"></i>
      </button>
  </div>

  <ul class="sidenav-nav">

    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="isAuthenticated == true && data.label !== 'Logout' && data.label !== 'admin'">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
      </a>
    </li>


    <li class="sidenav-nav-item" *ngIf="isAdmin == 'true'" >
      <a class="sidenav-nav-link logout justify-content-center" [routerLink]="'admin'"
      routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon" class="fas fa-user-shield"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">admin</span>
      </a>
    </li>


    <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a class="sidenav-nav-link logout" [routerLink]="[data.routeLink]"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="isAuthenticated == true && data.label === 'Logout'"  (click)="logout()">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
      </a>
    </li>

  </ul>

</div>


