<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col text-center">
      <h2 class="mb-4">CALENDAR</h2>
        <div class="col">
        <div class="container-line">
          <div class="line-gradient-left"></div>
          <div>Round 1</div>
          <div class="line-gradient-right"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row flex-wrap justify-content-around">
    <div class="col-4 partite d-flex align-items-center justify-content-center">
    </div>
  </div>

