<div class="container">
<div class="logos">
  <div class="logos-slide">
    <img src="../../../assets/img/lol logo/logo lec.png" alt="">
    <img src="../../../assets/img/lol logo/lck logo.svg" alt="">
    <img src="../../../assets/img/lol logo/lcs logo.png" alt="">
    <img src="../../../assets/img/lol logo/ljl logo.png" alt="">
    <img src="../../../assets/img/lol logo/cblol logo.png" alt="">
    <img src="../../../assets/img/lol logo/lla logo.png" alt="">
    <img src="../../../assets/img/lol logo/lpl logo.png" alt="">
    <img src="../../../assets/img/lol logo/pcs lol.png" alt="">
    <img src="../../../assets/img/lol logo/vsc logo.png" alt="">
    <img src="../../../assets/img/lol logo/msi logo.svg" alt="">
    <img src="../../../assets/img/lol logo/worlds logo.svg" alt="">
  </div>
  <div class="logos-slide">
    <img src="../../../assets/img/lol logo/logo lec.png" alt="">
    <img src="../../../assets/img/lol logo/lck logo.svg" alt="">
    <img src="../../../assets/img/lol logo/lcs logo.png" alt="">
    <img src="../../../assets/img/lol logo/ljl logo.png" alt="">
    <img src="../../../assets/img/lol logo/cblol logo.png" alt="">
    <img src="../../../assets/img/lol logo/lla logo.png" alt="">
    <img src="../../../assets/img/lol logo/lpl logo.png" alt="">
    <img src="../../../assets/img/lol logo/pcs lol.png" alt="">
    <img src="../../../assets/img/lol logo/vsc logo.png" alt="">
    <img src="../../../assets/img/lol logo/msi logo.svg" alt="">
    <img src="../../../assets/img/lol logo/worlds logo.svg" alt="">
  </div>
  <div class="logos-slide">
    <img src="../../../assets/img/lol logo/logo lec.png" alt="">
    <img src="../../../assets/img/lol logo/lck logo.svg" alt="">
    <img src="../../../assets/img/lol logo/lcs logo.png" alt="">
    <img src="../../../assets/img/lol logo/ljl logo.png" alt="">
    <img src="../../../assets/img/lol logo/cblol logo.png" alt="">
    <img src="../../../assets/img/lol logo/lla logo.png" alt="">
    <img src="../../../assets/img/lol logo/lpl logo.png" alt="">
    <img src="../../../assets/img/lol logo/pcs lol.png" alt="">
    <img src="../../../assets/img/lol logo/vsc logo.png" alt="">
    <img src="../../../assets/img/lol logo/msi logo.svg" alt="">
    <img src="../../../assets/img/lol logo/worlds logo.svg" alt="">
  </div>
</div>
</div>

